*{
  margin: 0px;
  padding: 0px;
  font-family: 'Instrument Serif', serif;


}
.cardss:hover{


  background-color: black;
  transform: translateY(-10px);
  
}
.cardsss:hover{


  background-color: black;
  transform: translateY(-10px);
  
}
.cardssss:hover{


  background-color: black;
  transform: translateY(-10px);
  
}
